[Desktop Entry]
Icon=image-jpeg
Name=Elephant_in_Forest_Painting_Debian_Version_4K_Wallpaper.jpg
Type=Link
URL[$e]=file:///mnt/NAS/scripts_install_debian/thinkpad/config/wallpapers/Elephant_in_Forest_Painting_Debian_Version_4K_Wallpaper.jpg
X-KDE-LastOpenedWith=org.kde.plasmashell
