[Desktop Entry]
Icon=text-html
Name=fonts.html
Type=Link
URL[$e]=https://wezfurlong.org/wezterm/config/fonts.html
X-KDE-LastOpenedWith=kfmclient_html
