[Desktop Entry]
Icon=image-jpeg
Name=wallpaper_debian_principal.jpg
Type=Link
URL[$e]=file:$HOME/wallpapers/wallpaper_debian_principal.jpg
X-KDE-LastOpenedWith=org.kde.plasmashell
