XTerm*background: black  
XTerm*foreground: #00FF00  
XTerm*color0: #000000  
XTerm*color1: #FF0000  
XTerm*color2: #00FF00  
XTerm*color3: #FFFF00  
XTerm*color4: #0000FF  
XTerm*color5: #FF00FF  
XTerm*color6: #00FFFF  
XTerm*color7: #FFFFFF  
Xcursor.theme: breeze_cursors  
Xcursor.size: 48
